body {
    background-color: #ffffff;
    color: antiquewhite;
    font-size: 1.1em;
}

h1{
    color: violet;
}

#ef {
   font-size: 3em; 
}

.colors {

    color:burlywood;
}

.logo_bar{
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    float: left;
}

.clear_fix{
    clear: both;
}

.nav_header{

    background-color: black;
}

.nav_item{

    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
    
}