body {
    background-color: #ffffff;
    color: antiquewhite;
    font-size: 1.1em;
}

h1{
    color: violet;
}

#ef {
   font-size: 3em; 
}

.colors {

    color:burlywood;
}

#logo {
    width:auto;
    display: inline;
    float:left;
}

.logo_bar{
    background-color:blueviolet;
    color: white;
    font-family:'Courier New', Courier, monospace;
    float: left;
    display: inline;
    padding-right: 169;
   
}

.clear_fix{
    clear: both;
}

.nav_header{

    background-color: black;
}

.nav_item{

    color:darkviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    background-color: white;
    font-size: large;
    padding-right: 110;
}

#first_nav_item{
    padding-left: 5;
}